@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    background: #6c6868eb;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-family: 'Lato', sans-serif;
}
.btn{
    display: flex;
    justify-content: center;
    position: relative;
}
.btn-num{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}

/* btn 01 */
.btn--01{
    position: relative;
    font-family: 'Lato', sans-serif;
    min-height: 50px;
    width: 150px;
    border:none;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: rgb(255, 253, 218);
}
.btn--01:focus{
    outline: none;
}
.btn--01::before,
.btn--01::after{
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    transition: 0.3s linear;
    z-index: 0;
}
.btn--01::before{
    top: 0;
    height: 0;
    background: rgb(200, 200, 200);
}
.btn--01::after{
    bottom: 0;
    height: 0;
    background: rgb(173, 216, 230);
}
.btn--01:hover::before,
.btn--01:hover::after{
    height: 50%;
}
.btn-01-text{
    position: relative;
    transition: color 0.2s ease-in;
    transition-delay: 0.2s;
    z-index: 2;
}
.btn-01-icon{
    position: relative;
    padding-inline: 3px;
    z-index: 2;
}